body{
    background-color:green;
}
.card {
    width: 250px;
    height: 420px;
    border: 1px solid gray;
    border-radius: 12px;
}
.photo{
    width: 100px;
}
.info{
    display: flex;
    justify-content: space-evenly;
}
.course-select-btn{
    width: 80%;
    background-color: #2F80ED;;
}