body{
    background-color:green;
}
.card {
    width: 220px;
    height: 450px;
    border: 1px solid gray;
    border-radius: 12px;
}
.photo{
    width: 200px;
    padding: 10px;
}
.info{
    display: flex;
    justify-content: space-evenly;
}
.course-select-btn{
    width: 80%;
    background-color: #2F80ED;;
}
.card-main-container{
    display: flex;

}
.card-container{
    width: 800px;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}